:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    
    --black: #010409;
    --white: #F0F6FC;
    --bg-black: #0D1117;
    --gray: #9198a1;
    --border-color: #3D444D;
    --blue: #58A6FF;
    --padding-search: 16px;
    
    color: var(--white);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html, body {
    height: 100vh;
}

.title {
    font-size: 24px;
    margin: 0;
}

p {
    margin: 0;
    font-size: 14px;
}

.lighter {
    color: var(--gray);
}

.hide {
    display: none;
}

h1 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

#logo {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
        width: 50px;
    }
}

header {
    background-color: var(--black);
    padding: 24px 64px;
    border-bottom: solid 1px var(--border-color);

    flex-shrink: 0;
}

body {
    background-color: var(--bg-black);
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    padding: 40px 64px;
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

form {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    i {
        position: absolute;
        left: var(--padding-search);
        top: 50%;
        transform: translateY(-50%);
    }
    input {
        width: 100%;
        padding: var(--padding-search) 70px var(--padding-search) 48px;
        border: solid 1px var(--border-color);
        border-radius: 50px;
        background-color: var(--black);
        color: var(--white);
    }
    button {
        position: absolute;
        right: var(--padding-search);
        top: 50%;
        transform: translateY(-50%);
        border: none;
        border-radius: 50px;
        background: var(--gray);
        color: var(--white);
        cursor: pointer;
        height: 70%;
        padding: 0 16px;
    }
}

.search_results {
    flex-grow: 1;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    padding-top: 32px;
}

.users_results, .user_details, .user_repos, .repo_info {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: solid 1px var(--border-color);
    border-radius: 8px;
    gap: 16px;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
}

.user_details, .user_repos {
    height: 50%;
}


#users_list {
    position: relative;
    flex-grow: 1;
}

.user_results {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    height: 100%;
}

#users_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
}

.divider {
    height: 1px;
    background-color: var(--border-color);
}

.user {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 8px 0;
    margin: 0 24px;
    border-bottom: solid 1px var(--border-color);
    cursor: pointer;

    &:last-child {
        border-bottom: none;
    }

    .user_avatar {
        border-radius: 50%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        width: 50px;
        height: 50px;
    }
}

.selected {
    border: solid 1px var(--blue);
    border-radius: 8px;
}