:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: #665142;
    background-color: #FFF6EB;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.highlight {
    color: #F05B23;
}

.lighter {
    color: #A57E5F;
}

#logo {
    display: flex;
    align-items: center;
    gap: 24px;

    img {
        width: 75px;
        svg {
            fill: #F05B23;
        }
    }
}